@import '../components/Variables.scss';

body {
    background-color: $main-color;
}

.home_page{
    position: relative;
    height: 800px;
    background-color: $main-color;
    background-image: url('../images/mainbg.webp');
    background-position: center;
    border-radius: 0px 0px 100px 100px;
    


    /* Overlay styles */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 47, 79, 0.849); 
    border-radius: 0px 0px 100px 100px;
  }

    .landpage-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $main-color;
        display: flex;
        align-items: center;

        .profile-img{
            position: relative;
            width: 230px;
            height: 350px;
            // border-radius: 50%;
            border: 3px solid $main-color;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            // margin-top: $margin-xxl;

            img {
                
                width: 100%;
                // height: 100%;
                object-fit: cover;
                     }
        }

        .landpage-text{
            width: 350px;
            margin-left: $margin-lg;
            z-index: 9;
            // line-height: 1.0;

            h2 {
                // margin: 0;
                font-family: $third-font;
                font-size: $headers;
                
                @media screen and (max-width: $breakpoint-xsm) {
                    font-size: $main-font;
                }

            
        }

        .my-name {
            width: 100px;
            text-align: center;
            font-size: $responsive-headers;
            background: $main-color;
            color: $dark;
            border-radius: 15px;
            // margin: 0;
        }

        .socials-div{
       
            a {
                font-size: $main-font;
                margin: $margin-sm;
                color: $main-color;
                transition: 0.3s ease;
    
                &:hover{
                    color: $pink;
                }
            }
        }
     }

    }
}


.catch-phrase{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color;

    p {
        font-size: $small-headers;
     }
}

.my-services{
    height: 350px;
    background: $dark;
    border-radius: 100px 100px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $main-color;

    .services-title{
       
        
        h2 {
            width: 100px;
            text-align: center;
            font-size: $responsive-headers;
            background: $main-color;
            color: $dark;
            border-radius: 15px; 
        }
    }

    .main-services{
        display: flex;

        .main-service{
            padding: $padding;
            font-family: $third-font;

            p {
                width: 200px;
            }
        }
    }
}




// Abouts page styling
.abouts-page{
    position: relative;
    height: 100vh;
    background-image: url('../images/mainbg.webp');
    background-position: end;
    

    /* Overlay styles */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 47, 79, 0.849); /* Adjust the overlay color and opacity */
  }

    .abouts-div{
        position: relative;
        padding-top: $margin-xxl;
        width: 50%;
        margin: 0 auto;
        color: $main-color;
        z-index: 9;

        @media screen and (max-height: 700px) and (max-width: $breakpoint-xsm) {
            padding-top: $margin-lg;
            width: 80%;
        }

        @media screen and (max-width: $breakpoint-xsm) {
            width: 80%;
            
        }
        

        img {
            width: 5%;

            @media screen and (max-width: $breakpoint-xsm) {
                width: 10%;
                
            }
        }
        
        h3 {
            font-size: $small-headers;
        }
        p {
            font-size: $main-font;
            font-family: $third-font;
            

            @media screen and (max-width: $breakpoint-xsm) {
                font-size: $font-small;
            }
        }
    }
}


.projects-div{
    background-color: $dark;
    position: relative;

    .code-projects{
        margin: $margin-xxl;
        padding-bottom: $padding;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            margin: $margin-sm;
            justify-content: center;
        }

        a {
            text-decoration: none;
        }


        .code-content{
            width: 300px;
            height: 150px;
            border: 1px solid $main-color;
            border-radius: $border-radius;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.4s ease;
            position: relative;
            margin: $margin-lg;

            &:hover{
                border: 1px solid $purple;
            }

            @media (max-width: 768px) {
                width: 250px;
            }

            .image-container{
                width: 100px;
                // height: 150px;

                img {
                    width: 100%;
                    height: auto;
                    // padding: $padding/2;
                }
            }
           

            .project-title{
               font-family: $primary-font;
               

                h4 {
                    font-size: $responsive-headers;   
                    color: $main-color;
                }

                hr {
                    color: $purple;
                }

                p {
                    color: $purple;
                }
            }
            
            .hoverimg-div{
                width: 35px;
                // height: 150px;
                position: absolute;
                top: -20%;
    
                img {
                    width: 100%;
                    height: auto;
                    opacity: 0;
                    transition: 0.4s ease-in-out;
                }
            }
    
            &:hover .hover-img{
                opacity: 1;
            }
        }

    }
}

.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

