@import '../components/Variables.scss';

body {
    background-color: $main-color;
}

.home_page{
    position: relative;
    height: 800px;
    background-color: $main-color;
    background-image: url('../images/mainbg.webp');
    background-position: center;
    border-radius: 0px 0px 60px 0px;
    


    /* Overlay styles */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 12, 12, 0.938); 
    border-radius: 0px 0px 60px 0px;
  }

    .landpage-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $main-color;


        .landpage-text{
            // width: 400px;
            // margin-left: $margin-lg;
            z-index: 9;
            text-align: center;
            line-height: 1.0;

            .main-logo{
                font-size: $main-font;
                // margin: 35px 0 0 100px;
    
                 img {
                    position: relative;
                    width: 100px;
                    height: 100px;
                }
            }

            h2 {
                // margin: 0;
                font-family: $header-font;
                font-size: $headers;
                
                @media screen and (max-width: $breakpoint-xsm) {
                    // font-size: $main-font;
                } 
        }

        p {
            font-family: $primary-font;
            line-height: 1.5;
            font-size: $font-medium;
            max-width: 60ch;

            @media screen and (max-width: $breakpoint-xsm) {
                max-width: 30ch;
                // font-size: $main-font;
            } 
        }

        .my-name {
            width: 100px;
            text-align: center;
            font-size: $responsive-headers;
            background: $main-color;
            color: $dark;
            border-radius: 15px;
            // margin: 0;
        }

        .socials-div{
            display: flex;
            align-items: center;
            justify-content: center;
       
            a {
                font-size: $main-font;
                margin-right: $margin-sm;
                color: $main-color;
                transition: 0.3s ease;
                font-family: $third-font;
                text-decoration:  none;
                display: flex;
                justify-content:  center;
                border-radius: 50%;
                border: 1px solid $main-color;
                padding: 10px;
    
                &:hover{
                    color: $pink;
                }
            }

            .circle{
                position: relative;
                    width: 40px;           /* Set the width of the circle */
                    height: 40px;          /* Set the height of the circle */
                    background-color: red;  /* Set the background color */
                    border-radius: 50%;     /* Make it a circle */
                    overflow: hidden;
                    margin-right: $margin-sm;
                    // border: 1px solid $main-color;
                  

                img {
                    width: 100%;
                    height: auto;
                    // border-radius: 50%;
                }
            }

           
        }
     }

    }
}


.catch-phrase{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    font-family: $header-font;

    p {
        font-size: $main-font;

        @media screen and (max-width: $breakpoint-xsm) {
            font-size: $font-medium;
        } 
     }
}



// ABOUT SECTION STYLING
.about-container{
    background: $dark;
    border-radius: 60px 0px 0px 0px;

    .about-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: $margin-xxl;

        @media screen and (max-width: $breakpoint-xsm) {
            padding: $padding;
        } 

        .about-text{
            color: $main-color;
            font-family: $primary-font;
            margin: $margin-lg;

            h5 {
                font-weight: normal;
                font-family: $header-font;
                // font-size: $main-font;
                height: auto;
                display: flex;
                align-items: center;
                // background-color: $main-color;
                // width: 100px;
                color: $main-color;
                // text-align: center;
                // padding: 10px 0;
            }

            p {
                max-width: 40ch;
                line-height: 1.5;
                font-size: $font-medium;
            }
        }

        .about-image {

            img {
                width: 300px;
                border: 2px solid $main-color;
                border-radius: 60px 0px 60px 0px;
            }
        }
    }
}




.projects-div{
    background-color: $dark;
    position: relative;

    .code-projects{
        margin: $margin-xxl;
        padding-bottom: $padding;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            margin: $margin-sm;
            justify-content: center;
        }

        a {
            text-decoration: none;
        }


        .code-content{
            width: 300px;
            height: 150px;
            border: 1px solid $main-color;
            border-radius: $border-radius;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.4s ease;
            position: relative;
            margin: $margin-lg;

            &:hover{
                border: 1px solid $purple;
            }

            @media (max-width: 768px) {
                width: 250px;
            }

            .image-container{
                width: 100px;
                // height: 150px;

                img {
                    width: 100%;
                    height: auto;
                    // padding: $padding/2;
                }
            }
           

            .project-title{
               font-family: $primary-font;
               

                h4 {
                    font-size: $responsive-headers;   
                    color: $main-color;
                }

                hr {
                    color: $purple;
                }

                p {
                    color: $purple;
                }
            }
            
            .hoverimg-div{
                width: 35px;
                // height: 150px;
                position: absolute;
                top: -20%;
    
                img {
                    width: 100%;
                    height: auto;
                    opacity: 0;
                    transition: 0.4s ease-in-out;
                }
            }
    
            &:hover .hover-img{
                opacity: 1;
            }
        }

    }
}

.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-hr{
    width: 80%;
}

