@import './Variables.scss';

.main-nav{
    position: relative;
    width: 100%;
    // height: 10vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    .nav-links{
        display: flex;
        justify-content: space-between;

        .left-nav-bar{
            display: flex;

            .resume-link{
                margin: 50px 0 0 100px;
            }

            .email-div{
                margin: 50px 100px;

            }   
        }



        .page-links{
            margin: 50px 100px;

            .email-me{
                cursor: pointer;
                border: none;
                background: $pink;
                color: $dark;
                padding: 10px;
                transition: 0.4s ease;
                text-decoration: none;

                &:hover{
                    color: $dark;
                }

            }
        }

       .main-links {
        position: relative;
        text-decoration: none;
        margin-right: $margin-sm;
        font-size: $main-font;
        color: $main-color;
        transition: 0.3s ease;
        font-family: $primary-font;

        &:hover{
            color: $purple;
        }


        }

      
    }
}


// FOOTER STYLING
.footer-div{
    // color: $dark;
    // height: 5vh;
    width: 100%;
    bottom: 0;
    text-align: center;
    // background-color: $dark;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    p {
        color: $dark;
        font-size: $main-font;
        font-family: $primary-font;
    }
}


.resume-div{

    button {
        cursor: pointer;
        border: none;
        background: $pink;
        color: $dark;
        padding: 10px;
        margin-right: 10px;
        transition: 0.4s ease;

        .email-link {
            text-decoration: none;
        }

        &:hover{
            color: $dark;
        }

        
    }

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
        z-index: 999; /* Ensure the overlay is on top of other content */

        .popup{
            // background-color: $dark;
            // padding: 20px;
            border: none;
            border-radius: 5px;
            width: 50%;
            height: 70%;
            position: absolute;
            top: 50%; /* Center vertically */
            left: 50%; /* Center horizontally */
            transform: translate(-50%, -50%); /* Center the popup */
            z-index: 1000; /* Ensure the popup is on top of the overlay */
        
            @media (max-width: 576px) {
                width: 70%;
                height: 50%;
            }
        }
    }

}

// projects section styling
.projects-container{

    .projects-content{
        width: 750px;
        margin: $margin-xxl auto;

        h5 {
            font-family: $header-font;
            font-weight: normal;
            // background-color: $dark;
            width: 150px;
            // color: $main-color;
            text-align: center;
            padding: 10px 0;
            height: auto;
            display: flex;
            align-items: center;
        }

        .projects-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1em;
            row-gap: 1em;

            .grid-item{
                width: 400px;

                a {
                    text-decoration: none;
                    border: 1px solid $main-color;
                }

                img {
                    width: 100%;
                }

                h4 {
                    font-family: $primary-font;
                    font-size: $font-small;
                    color: $dark;
                    font-weight: normal;
                }
            }
        }

        .more-projects-container{
            width: 100%;
            display: flex;
            justify-content: center;

            .projects-link{
                font-family: $primary-font;
                text-decoration: none;
                background: $dark;
                color: $main-color;
                padding: 10px;
                font-size: $font-small;
                height: auto;
                display: flex;
                align-items: center;
            }
        }

       
    }
}


.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9;
}