@import './Variables.scss';

.main-nav{
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-links{

       .main-links {
        position: relative;
        text-decoration: none;
        margin-right: $margin-sm;
        font-size: $main-font;
        color: $main-color;
        transition: 0.3s ease;
        font-family: $third-font;

        &:hover{
            color: $purple;
        }

        & img {
            position: relative;
            padding-left: 10px;
            width: 50px;
            height: 50px;
        }
        }

      
    }
}



.footer-div{
    position: absolute;
    height: 10vh;
    width: 100%;
    bottom: 0;
    // background-color: $dark;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: $main-color;
        font-size: $main-font;
    }
}


.resume-div{

    button {
        cursor: pointer;
        border: none;
        border-bottom: 1px solid $purple;
        // border-radius: $border-radius;
        background: none;
        color: $purple;
        padding: 10px;
        transition: 0.4s ease;

        &:hover{
            color: $main-color;
        }
    }

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
        z-index: 999; /* Ensure the overlay is on top of other content */

        .popup{
            // background-color: $dark;
            // padding: 20px;
            border: none;
            border-radius: 5px;
            width: 50%;
            height: 70%;
            position: absolute;
            top: 50%; /* Center vertically */
            left: 50%; /* Center horizontally */
            transform: translate(-50%, -50%); /* Center the popup */
            z-index: 1000; /* Ensure the popup is on top of the overlay */
        
            @media (max-width: 576px) {
                width: 70%;
                height: 50%;
            }
        }
    }

}


.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9;
}