@import './Variables.scss';




// Navbar stylings
.main-nav{
    position: relative;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    .nav-links{
        width: 75%;
        height: 100%;
        display: flex;
        justify-content: space-between;


        .left-nav-bar{
            color: $main-color;
            display: flex;
            align-items: center;

            h3{
                font-family: $header-font;
            }

            img {
                width: 25px;
            }
        }


        .page-links{
            height: 100%;
            display: flex;
            align-items: center;
            // margin: 50px 100px;


            .main-links {
                position: relative;
                text-decoration: none;
                // margin-right: $margin-sm;
                font-size: $font-small;
                color: $main-color;
                transition: 0.3s ease;
                font-family: $primary-font;
                border: 1px solid $main-color;
                padding: 10px;
                z-index: 2;
        
                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 0%;
                    background-color: $main-color;
                    z-index: -1;
                    transition: height 0.4s ease; 
                    color: $dark;
                }
        
                &:hover::before{
                    height: 100%;
                }
        
                &:hover{
                    border: 1px solid $purple;
                    color: $dark;
                }
        }

        }

      
    }
}





.resume-div{

    button {
        position: relative;
        cursor: pointer;
        border: 1px solid $main-color;
        background: none;
        color: $main-color;
        padding: 10px;
        margin-right: 10px;
        transition: 0.4s ease;
        overflow: hidden;
        z-index: 2;
        font-size: $font-small;

        &::before{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0%;
            background-color: $main-color;
            z-index: -1;
            transition: height 0.4s ease; 
            color: $dark;
        }

        &:hover::before{
            height: 100%;
        }

        &:hover{
            border: 1px solid $purple;
            color: $dark;
        }


        .email-link {
            text-decoration: none;
        }

        &:hover{
            color: $dark;
        }

        
    }

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
        z-index: 999; /* Ensure the overlay is on top of other content */

        .popup{
            // background-color: $dark;
            // padding: 20px;
            border: none;
            border-radius: 5px;
            width: 50%;
            height: 70%;
            position: absolute;
            top: 50%; /* Center vertically */
            left: 50%; /* Center horizontally */
            transform: translate(-50%, -50%); /* Center the popup */
            z-index: 1000; /* Ensure the popup is on top of the overlay */
        
            @media (max-width: 576px) {
                width: 70%;
                height: 50%;
            }
        }
    }

}

// projects section styling
.projects-container{

    .projects-content{
        width: 750px;
        margin: $margin-xxl auto;

        @media screen and (max-width: $breakpoint-xsm) {
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        } 

        h5 {
            font-family: $primary-font;
            font-weight: normal;
            font-size: $main-font;
            // width: 150px;
            color: $bright;
            text-align: center;
            padding: 10px 0;
            height: auto;
            display: flex;
            align-items: center;

            // @media screen and (max-width: $breakpoint-small) {
            //     width: 100%;
            // } 
        }

        .projects-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 5px;
            row-gap: 5px;

            @media screen and (max-width: $breakpoint-xsm) {
                grid-template-columns: 1fr;
                margin: 0 auto;
            } 

            .grid-item{
                position: relative;
                overflow: hidden;
                max-width: 400px;
                text-decoration: none;
                background-color: $main-color;

                @media screen and (max-width: $breakpoint-xxsm) {
                    max-width: 300px;
                } 

                img {
                    width: 100%;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 0%;
                    background-color: #917fb3e8; 
                    z-index: 1;
                    transition: height 0.4s ease;
                }

                &:hover::before {
                    height: 100%; 
                }

              

                h4 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: $primary-font;
                    font-size: $font-medium;
                    color: $main-color;
                    font-weight: normal;
                    opacity: 0;
                    z-index: 2;
                    transition: opacity 0.4s ease;
                    pointer-events: none;
                }

                &:hover h4 {
                    opacity: 1; /* Makes the title visible on hover */
                  }

                  .project-info{
                    
                    
                    h5 {
                        padding: $margin-sm;
                        margin: 0;
                        font-weight: bold;
                        font-size: $font-medium;
                        width: 100%;
                    }

                    p {
                        margin: 0;
                        padding: 0 $margin-sm $margin-sm ;
                        font-family: $primary-font;
                        font-size: $font-small;
                    }
                  }
            }
        }

        .more-projects-container{
            width: 100%;
            display: flex;
            justify-content: center;
            margin: $margin-lg 0;

            .projects-link{
                position: relative;
                font-family: $primary-font;
                text-decoration: none;
                border: 1px solid $dark;
                color: $dark;
                padding: 10px;
                font-size: $font-small;
                height: auto;
                display: flex;
                align-items: center;
                transition: .4s ease;

                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 0%;
                    background-color: $purple;
                    z-index: -1;
                    transition: height 0.4s ease; 
                }

                &:hover::before{
                    height: 100%;
                }

                &:hover{
                    border: 1px solid $purple;
                    color: $main-color;
                }
            }
        }

       
    }
}


.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9;
}





// dock stylings
.dock {
    position: fixed;
    bottom: 1%;
    left: 50%;
    background: $bright;
    // color: $main-color;
    padding: 10px;
    border-radius: 10px;
    // box-shadow: 0 4px 8px #b43f3fda;
    transition: 0.3s ease-in-out;
    opacity: 0;
    transform: translateX(-50%) translateY(50px);
    z-index: 10;
  
    &.show-dock {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }

    &.fade-dock {
      // Fading and sliding effect when the dock is supposed to fade
      opacity: 0;
      transform: translateX(-50%) translateY(50px); // Move dock downwards
    }
  
    .icons {
      i {
        margin: 0 5px;
        font-size: 20px;

        a {
            color: $main-color;
            transition: 0.3s ease-in-out;

            &:hover{
                color: $purple;
            }
        }
      }
    }
}


  
  
  
  


  // FOOTER STYLING
  .footer-div {
    position: relative;
    height: 60px;
    color: $main-color;
    text-align: center;
    overflow: hidden; 
    border-radius: 10px 0;
    font-family: $primary-font;
  
    // Background fill effect
    .background-fill {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      background: $dark; // Background color for fill effect
      transform: translateX(-50%) scaleY(0); // Start with no fill
      transform-origin: top center; // Fill from top center
      transition: transform 1s ease; // Smooth fill transition
      z-index: -1; // Place behind the content
    }
  
    // When footer is visible, expand the fill effect
    &.footer-visible .background-fill {
      transform: translateX(-50%) scaleY(1); // Scale to fill the footer
    }
  
    .footer-hr {
      border: none;
      border-top: 1px solid #fff;
      width: 400px;
    }
  
    .icons {
      display: flex;
      justify-content: center;
    //   align-items: center;
      margin-top: 20px;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.3s ease, transform 0.3s ease;
  
      &.show-icons {
        opacity: 1;
        transform: translateY(0);
      }
  
      i {
        margin: 0 10px;
        font-size: 20px;

        a {
            text-decoration: none;
            color: $main-color;

            &:hover{
                color: $purple;
            }
        }
      }
    }
    
    &.footer-visible {
      padding-bottom: 60px; // Adjust based on icon height and footer design
    }
  }
  
  
  
  
  