// fonts
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

@font-face {
  font-family: 'Rockybilly';
  src: url('../fonts/Rockybilly.ttf') format('truetype');
  // font-weight: normal;
  // font-style: normal;
}

@font-face {
  font-family: 'Montez-Regular';
  src: url('../fonts/Montez-Regular.ttf') format('truetype');
  // font-weight: normal;
  // font-style: normal;
}

// colors
$main-color: #FDE2F3;
$purple:#917FB3;
$pink:#E5BEEC;
$dark:#000000;
$bright: #B43F3F;

// spacing
$margin:20px;
$margin-sm:20px - 10px;
$margin-lg:20px + 10px;
$margin-xxl:20px + 80px;
$padding:20px;

// fonts
$primary-font: "Fredoka", sans-serif;
$header-font: "Montez-Regular",  ;


$headers-xxl:65px;
$headers-lg:55px;
$headers:45px;
$small-headers:35px;
$responsive-headers:20px;
$main-font: 18px;
$font-medium: 16px;
$font-small:14px;

// @extras
$border-radius: 8px;


@keyframes rotate3d {
    0% {
      transform:  rotate3d(0, 1, 0, 0deg);
    }
    100% {
      transform: rotate3d(0, 1, 0, 360deg);
    }
  }

//   media queries
$breakpoint-xxsm: 375px;
$breakpoint-xsm: 576px;
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;