// fonts
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

// colors
$main-color: #FDE2F3;
$purple:#917FB3;
$pink:#E5BEEC;
$dark:#2A2F4F;

// spacing
$margin:18px;
$margin-sm:18px - 4px;
$margin-lg:18px + 4px;

// fonts
$primary-font:'Yanone Kaffeesatz', sans-serif;
$header-font:'Sacramento', cursive;
$third-font:'Karla', sans-serif;
$tartiary-font: 'Antonio', sans-serif;


$headers-xxl:65px;
$headers-lg:55px;
$headers:45px;
$small-headers:35px;
$main-font: 18px;
$font-medium: 16px;
$font-small:14px;