// fonts
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

// colors
$main-color: #FDE2F3;
$purple:#917FB3;
$pink:#E5BEEC;
$dark:#2A2F4F;

// spacing
$margin:20px;
$margin-sm:20px - 10px;
$margin-lg:20px + 10px;
$margin-xxl:20px + 80px;
$padding:20px;

// fonts
$primary-font:'Yanone Kaffeesatz', sans-serif;
$header-font:'Sacramento', cursive;
$third-font:'Karla', sans-serif;
$tartiary-font: 'Antonio', sans-serif;


$headers-xxl:65px;
$headers-lg:55px;
$headers:45px;
$small-headers:35px;
$responsive-headers:20px;
$main-font: 18px;
$font-medium: 16px;
$font-small:14px;

// @extras
$border-radius: 8px;


@keyframes rotate3d {
    0% {
      transform:  rotate3d(0, 1, 0, 0deg);
    }
    100% {
      transform: rotate3d(0, 1, 0, 360deg);
    }
  }

//   media queries
$breakpoint-xsm: 576px;
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;